body {
    margin: 150px 20px;
    
    font-family: Tahoma;
}

.avatar {
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #4f5d75;
}



.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E5E5E5;
    color: #000000;
    border-bottom: 6px solid #14213D;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #4f5d75;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)  //done
- add border radius  //done
- shuffle the layout //done
- shadows        🤯  //done
- hover effects  🤯🤯 //done
- animations     🤯🤯🤯 //done
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
